fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pytest
pytest-asyncio
httpx
python-dotenv 
psycopg2-binary
email-validator 
mangum
bleach 
python-jose
passlib[bcrypt]==1.7.4
bcrypt<4.0.0
slowapi
boto3 
python-multipart 
pytest-cov 