fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pytest
pytest-asyncio
httpx
python-dotenv 
psycopg2-binary
email-validator 
mangum
bleach 
python-jose
passlib[bcrypt]
slowapi
boto3 